body {
    margin: 60px auto;
    width: 70%;
    clear: right;

}
nav ul, footer ul {
    font-family:'Helvetica';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica';
}
p {
    <!--font-size: 1.5em;-->
    font-family:'Helvetica';
    line-height: 1.4em;
    color: #333;
    overflow: hidden;

}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img {
	position: absolute;
	float: right;
 	margin: 0 0 0 15px;
	width: 140px;
	height: auto;
}


.personal_picture {
 	margin: 0 0 0 15px;
	position:absolute;
	width:80px;
	height:auto;
	float:right;
}